$default-font-size: 16;
$root-default-font-size: 10;

$fsizes: (
  tn: (size: 12, lh: '1.1'),
  xs: (size: 13, lh: '1.1'),
  sm: (size: 14, lh: '1.1'),
  default: (size: 16, lh: '1.1'),
  md: (size: 20, lh: '1.25'),
  lg: (size: 24, lh: '1.5'),
  xl: (size: 28, lh: '1.75'),
  '2xl': (size: 32, lh: '2'),
  '3xl': (size: 48, lh: '3'),
);

$fweights: (
  300,
  400,
  600,
  700,
);

$lhs: (
  xs: '0.75',
  sm: '0.825',
  default: '1',
  md: '1.25',
  lg: '1.5',
);
