@use '~/assets/scss/variables/colors';
@use '~/assets/scss/utils/func';

@each $name, $color in colors.$colors {
  @each $variant, $value in $color {
    @if $variant == 'DEFAULT' {
      .fill-#{$name} {
        fill: var(--#{$name});
      }

      .stroke-#{$name} {
        stroke: var(--#{$name});
      }
    } @else {
      .fill-#{$name}-#{$variant} {
        fill: var(--#{$name}-#{$variant});
      }

      .stroke-#{$name}-#{$variant} {
        stroke: var(--#{$name}-#{$variant});
      }
    }
  }
}

.fill-none {
  fill: none;
}

.fill-white {
  fill: white;
}

.stroke-white {
  stroke: white;
}

@each $size in (1, 2, 3, 4, 5) {
  .stroke-#{$size} {
    stroke-width: func.rem($size);
  }
}