@use '~/assets/scss/variables/animations';

.sidebar {
  top: 0;
  left: 0;
  width: 8rem;
  height: 100vh;
  z-index: 100;
}

.burger {
  top: 1rem;
  left: 2rem;
  width: 4rem;
  height: 4rem;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover svg {
    fill: var(--primary);
  }

  svg {
    transition: animations.$default-transition;
  }
}

.menu {
  top: 0;
  left: 100%;
  width: 25rem;
  height: 100vh;
  margin-left: 0.1rem;
  transition: all .1s;

  &-item:not(:last-child) {
    border-bottom: solid .1rem var(--neutral);
  }

  &-link {
    color: var(--neutral);

    &:hover {
      color: var(--primary);
    }
  }
}

.menu-animation {
  transition: all 0.15s;

  .menu-item {
    @for $i from 1 through 2 {
      &:nth-child(#{$i}) {
        transition: opacity 0.15s #{$i * 0.15}s;
      }
    }

    opacity: 1;

  }

  &.out {
    transform: translate3d(-1rem, 0, 0);
    opacity: 0;

    .menu-item {
      opacity: 0;
      transition: none;
    }
  }
}