@use "../variables/animations";
@use "../variables/colors";
@use "../variables/typos";
@use "../utils/func";

html {
  font-size: calc(0.625 * 1em);
}

body {
  font-size: 1.6em;
  color: var(--neutral);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--neutral);
  transition: animations.$default-transition;

  &:hover {
    color: var(--primary);
  }
}

p {
  margin-top: 0;
}
